#slide2{
    background-image: url(../img/face-4.jpg) !important;
    background-position: center bottom;
    .container{
        p{
            background-color: rgba(232, 236, 241, .75);
            padding: 5px;
            border-radius: 10px;            
        }
    }
}