#slide1 {
  background-image: url(../img/face-1.jpg) !important;
  background-position: center; }

#slide2 {
  background-image: url(../img/face-2.jpg);
  background-position: center bottom; }
  #slide2 .container p {
    background-color: rgba(232, 236, 241, 0.75);
    padding: 5px;
    border-radius: 10px; }

#slide3 {
  position: relative !important; }
  #slide3 .fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100; }

.section {
  min-height: 100vh !important;
  background-size: cover; }
