#slide1 {
  background-image: url(../img/face-1.jpg) !important;
  background-position: center; }

#slide2 {
  background-image: url(../img/face-3.jpg) !important;
  background-position: center center; }
  #slide2 .container p {
    background-color: rgba(232, 236, 241, 0.75);
    padding: 5px;
    border-radius: 10px; }

#slide3 {
  position: relative !important;
  background-image: url(/img/face-2.jpg);
  background-position: left bottom; }
  #slide3 #sub3 {
    height: 100% !important; }

.section {
  min-height: 100vh !important;
  background-size: cover; }

.spotify-embed {
  position: relative !important;
  width: auto !important;
  height: auto !important; }

.ah {
  display: none !important; }

.youtube-embed {
  position: relative !important;
  width: auto !important;
  height: auto !important; }
